<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<link rel="stylesheet" type="text/css" href="css/index.css">
		 <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css">
		 <link rel="stylesheet" type="text/css" href="css/detaile.css">
	</head>

	<body>
		<div id="header">
			<div class="header1">
				<ul class="left d">
					<li>宝，欢迎来珠宝街</li>
					<li>
						<a href="./login.html">请登录</a>
					</li>
					<li>
						<a href="./register.html">免费注册</a>
					</li>
				</ul>
				<ul class="left dl" style="display: none">
          <li>珠宝街</li>
          <li>
            欢迎您！<span style="padding-left: 10px;color: red;"></span>
          </li> 
          <li>
            <a href="javascript:void(0);" style="color: blue;" id="tc">退出登陆</a>
          </li>        
        </ul>
				<ul class="right">
					<li>
						<a href="#">我的宝贝</a>
						<div class="ul1">
							<div>
								<a href="#">待付款订单</a>
							</div>
							<div>
								<a href="#">待确认收货</a>
							</div>
							<div>
								<a href="#">待评价交易</a>
							</div>
						</div>
					</li>
					<li>
						<a href="#">我关注的品牌</a>
						<div class="ul1">
							<div>
								<a href="#">待付款订单</a>
							</div>
							<div>
								<a href="#">待确认收货</a>
							</div>

						</div>
					</li>
					<li>
						<a href="#">帮助中心</a>
						<div class="ul1">
							<div>
								<a href="#">待付款订单</a>
							</div>
							<div>
								<a href="#">待确认收货</a>
							</div>
							<div>
								<a href="#">待评价交易</a>
							</div>
						</div>
					</li>
					<li>
						<a href="#">商家支持</a>
						<div class="ul1">
							<div>
								<a href="#">待付款订单</a>
							</div>
							<div>
								<a href="#">待确认收货</a>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="logo">
			<div class="logo1">
				<div class="img"><img src="img/logo.png" alt=""></div>
				<div class="form">
					<input type="text" placeholder="请输入搜索内容"><button id="btn">搜索</button>
					<p>
						<a href="#">黄金</a>
						<a href="#">黄金项链</a>
						<a href="#">钻石戒指</a>
						<a href="#">珍珠</a>
						<a href="#">玉手链</a>
						<a href="#">手链</a>
					</p>
				</div>
				<a href="cart.html" class="cart" target="_blank">
					<span>我的购物车</span><sup id="car">0</sup>
				</a>
			</div>
		</div>

        <div id="nav">
		<div class="nav1">
			<div class="all">所有商品
				<div class="all_con">
				    <div class="list">
					  <h4><a href="html/list.html">大家都在买</a></h4>
                      <p><a href="html/list.html">珍珠</a>
 					      <a href="html/list.html"翡翠</a>
 					      <a href="html/list.html">钻石戒指</a>
 					      <a href="html/list.html">裸钻</a>
 					      <br>
 					      <a href="html/list.html">黄金项链</a><a href="html/list.html">小叶紫檀</a>
 					      <a href="html/list.html">崖柏</a><a href="html/list.html">菩</a>
                      </p>

                      <!--hover-->
                      <div class="list_con">
                          <div class="left-con">
                                <a href="#">推荐分类></a>
                          </div>
                          <div class="right-con">
                             <a href="">钻石</a>
                             <a href="">彩色宝石</a>
                             <a href="">玉石</a>
                             <a href="">黄金</a>
                             <a href="">珍珠</a>
                             <a href="">铂金</a>
                             <a href="">翡翠</a>
                             <a href="">鸡血石</a>
                             <a href="">吊坠</a>
                             <a href="">手链</a>
                             <a href="">手串</a>
                             <a href="">戒指</a>
                             <a href="">耳饰</a>
                             <a href="">锁骨链</a>
                             <a href="">工艺品</a>
                             <a href="">创意礼品</a>
                             <a href="">钟表</a>
                             <a href="">眼镜</a>
                             <a href="">创意</a>
                             <a href="">玉髓</a>
                             <a href="">黄金戒指</a>
                             <a href="">黄金手链</a>
                             <a href="">黄金吊坠</a>
                             <a href="">水晶手镯</a>
                             <a href="">翡翠吊坠</a>
                             <a href="">翡翠戒指</a>
                             <a href="">翡翠项链</a>
                             <a href="#">翡翠耳饰</a>
                             <a href="">翡翠摆件/手把件/挂件</a>
                             <a href="">翡翠头饰/胸饰/脚饰</a>
                             <a href="">瓷器</a>
                             <a href="">印章字画</a>
                             <a href="">紫砂</a>
                             
                          </div>
                      </div>
				    </div>
                   <div class="list">
					  <h4><a href="html/list.html">大家都在买</a></h4>
                      <p><a href="html/list.html">珍珠</a>
 					      <a href="html/list.html"翡翠</a>
 					      <a href="html/list.html">钻石戒指</a>
 					      <a href="html/list.html">裸钻</a>
 					      <br>
 					      <a href="html/list.html">黄金项链</a><a href="html/list.html">小叶紫檀</a>
 					      <a href="html/list.html">崖柏</a><a href="html/list.html">菩</a>
                      </p>
                       <div class="list_con">
                          <div class="left-con">
                                <a href="#">推荐分类></a>
                          </div>
                         <div class="right-con">
                             <a href="">钻石</a>
                             <a href="">彩色宝石</a>
                             <a href="">玉石</a>
                             <a href="">黄金</a>
                             <a href="">珍珠</a>
                             <a href="">铂金</a>
                             <a href="">翡翠</a>
                             <a href="">鸡血石</a>
                             <a href="">吊坠</a>
                             <a href="">手链</a>
                             <a href="">手串</a>
                             <a href="">戒指</a>
                             <a href="">耳饰</a>
                             <a href="">锁骨链</a>
                             <a href="">工艺品</a>
                             <a href="">创意礼品</a>
                             <a href="">钟表</a>
                             <a href="">眼镜</a>
                             <a href="">创意</a>
                             <a href="">玉髓</a>
                             <a href="">黄金戒指</a>
                             <a href="">黄金手链</a>
                             <a href="">黄金吊坠</a>
                             <a href="">水晶手镯</a>
                             <a href="">翡翠吊坠</a>
                             <a href="">翡翠戒指</a>
                             <a href="">翡翠项链</a>
                             <a href="#">翡翠耳饰</a>
                             <a href="">翡翠摆件/手把件/挂件</a>
                             <a href="">翡翠头饰/胸饰/脚饰</a>
                             <a href="">瓷器</a>
                             <a href="">印章字画</a>
                             <a href="">紫砂</a>
                             
                          </div>
                      </div>
				    </div>
				    <div class="list">
					  <h4><a href="#">大家都在买</a></h4>
                      <p><a href="#">珍珠</a>
 					      <a href="#"翡翠</a>
 					      <a href="#">钻石戒指</a>
 					      <a href="#">裸钻</a>
 					      <br>
 					      <a href="#">黄金项链</a><a href="#">小叶紫檀</a>
 					      <a href="#">崖柏</a><a href="#">菩</a>
                      </p>
				    </div>
				    <div class="list">
					  <h4><a href="html/list.html">大家都在买</a></h4>
                      <p><a href="html/list.html">珍珠</a>
 					      <a href="html/list.html"翡翠</a>
 					      <a href="html/list.html">钻石戒指</a>
 					      <a href="html/list.html">裸钻</a>
 					      <br>
 					      <a hrehtml/list.html
 					      <a href="html/list.html">崖柏</a><a href="html/list.html">菩</a>
                      </p>
				    </div>
				    <div class="list noborder">
					  <h4><a href="#">大家都在买</a></h4>
                      <p><a href="#">珍珠</a>
 					      <a href="#"翡翠</a>
 					      <a href="#">钻石戒指</a>					      
                      </p>
				    </div>
				</div>
			</div>
			<ul class="nav_con">
				<li class="col"><a href="../index.html">首页</a></li>
				<li><a href="list.html">黄金珠宝</a></li>
				<li><a href="list.html">精选饰品</a></li>
				<li><a href="list.html">珠宝基地</a></li>
				<li><a href="list.html">夺宝岛</a></li>
				<li><a href="list.html">私人定制</a></li>
				<li><a href="list.html">全球渠道</a></li>
				<li><a href="list.html">社区</a></li>
			</ul>
		</div>
    </div>
    
    <div id="shop">
    <!-- moban -->
     <script type="text/html" id="moban">
     <% for (var i = 0, len = products.length; i < len; i++) { 
			var prod = products[i];
		%>
   
      <div class="shop">
         <div class="leftbox">
            <dl class="img1">
              <dt><img src="<%=prod.url%>" class="img1_url" alt="" style="height: 312px;width: 320px" data-zoom-image="img/large.jpg"></dt>
              <dd><img src="img/deta1.jpg" alt=""></dd>
              <dd><img src="img/detai2.jpg" alt=""></dd>
              <dd><img src="img/detai3.jpg" alt=""></dd>
              <dd><img src="img/detai4.jpg" alt=""></dd>
            </dl>
            <div class="x">
               <div class="resave"><a href="#">收藏商品(0)</a></div>
               <div class="jubao"><a href="#">举报</a></div>
               
            </div>
         </div>
         <div class="centerbox">
			<div class="sm"><%= prod.sm %></div>
			<div class="price">
               <p class="p1">市场价:<span>￥265.00</span></p>
               <p class="p2">商城价:<span><%= prod.price %></span></p>
			</div>
			<div class="buy">
			    <p class="pp">至 全国：<span>卖家承担运费</span></p>
                <div class="amount">
                  购买数量：<input type="text" class="mon" value="1" /><b class="box"><span id="add">+</span><span class="minus">-</span></b>
                </div>
                <div class="last">
                 <a href="dingdan.html" class="buy1">立即购买</a>
                 <a href="javascript:void(0);" class="ad">加入购物车</a>
                </div>
               
			</div>
         </div>
         <div class="rightbox">
             <img src="img/c1.jpg" alt="" style="width: 227px">
         </div>
      </div>
       <% } %>
       </script>
    </div>
    
    <div id="deta">
       <div class="deta">
       <ul class="list">
       	<li style="background: red" class="dd">商品详情</li>
       	<li class="ee">商品评价(0)</li>
       	<li>购买咨询</li>
       </ul>
       <div class="xq">
          <b>商品货号：</b>  <b>品牌：</b> <b>款式：不限</b> <b>风格：不限</b><br> <b>图案：不限</b> <b>材料：不限</b> <b>适用人群：不限</b>
       </div>
        <div class="pinjia">
          无
       </div>
       <div class="cen">
         <img src="img/datu1.jpg" alt="">
       </div>
       </div>
      
    </div>

		<div id="footer1">
			<div class="footer1_con">							
			<ul class="ul2">
				<h3>购买帮助</h3>
				<li><a href="#">如何购买</a></li>
				<li><a href="#">注册/登录</a></li>
				<li><a href="#">物流信息</a></li>
				<li><a href="#">订单信息</a></li>
				<li><a href="#">在线支付</a></li>
			</ul>
			<ul class="ul3">
				<h3>购买帮助</h3>
				<li><a href="#">如何购买</a></li>
				<li><a href="#">注册/登录</a></li>
				<li><a href="#">物流信息</a></li>
				<li><a href="#">订单信息</a></li>
				<li><a href="#">在线支付</a></li>
			</ul>
			<ul class="ul4">
				<h3>购买帮助</h3>
				<li><a href="#">如何购买</a></li>
				<li><a href="#">注册/登录</a></li>
				<li><a href="#">物流信息</a></li>
			</ul>
			<ul class="ul5">
				<h3>购买帮助</h3>
				<li><a href="#">如何购买</a></li>
				<li><a href="#">注册/登录</a></li>
				<li><a href="#">物流信息</a></li>
			</ul>
			<ul class="ul6">
				<h3>购买帮助</h3>
				<li><a href="#">电话：400-630-1999</a></li>
				<li><a href="#">客服邮箱：kf@zhubaojie.com</a></li>				
			</ul>
			</div>
		</div>
		<div id="footer2">
			<div class="footer2_con">
				<img src="img/f2.jpg"/>
			</div>
		</div>
		<div id="footer3">
			<div class="footer3_con">
				<div class="left1">									
				<p class="p2"><a href="#">珠宝街</a><a href="#">珠宝街门户</a><a href="#">珠宝街社区</a><a href="#">创业合伙人招募</a></p>
			    <ul class="ful">
			    	<li class="nob"><a href="#">首页</a></li>
			    	<li><a href="#">招聘英才</a></li>
			    	<li><a href="#">合作洽谈</a></li>
			    	<li><a href="#">联系我们</a></li>
			    	<li class="noborder"><a href="#">关于我们</a></li>
			    </ul>
			    <p class="p1">Copyright 珠宝街 2016 京ICP备14053557号 增值电信业务许可证号：豫B2-20160243  站长统计</p>
			    <div class="img1">
			    	<img src="img/dt.jpg" />
			    </div>
				</div>
				<div class="right1">
					<img src="img/erwe.jpg"/>
				</div>
			</div>
		</div>
		<div id="fix">
      <div class="fixed">
       <a href="#"><i class="iconfont icon-ren size" style="color: white;"></i><span>个人中心</span></a>
       <a href="#"><i class="iconfont icon-gouwuche size" style="color: white;"></i>购<br>物<br>车<br><sup id="car">0</sup></a>
       <a href="#"><i class="iconfont icon-xin size" style="color: white;"></i><span>我的关注</span></a>
      <a href="#"><i class="iconfont icon-wujiaoxing size" style="color: white;"></i><span>我的收藏</span></a> 
      <a href="#"><i class="iconfont icon-shizhong size" style="color: white;"></i><span>我看过的</span></a> 
      <a href="#"><i class="iconfont icon-xie size" style="color: white;"></i><span>用户反馈</span></a>
      <a href="#"><i class="iconfont icon-erweima size" style="color: white;"></i></a>
      <a href="#"><i class="iconfont icon-top size" style="color: white;"></i> </a>
       </div>  
    </div>
	</body>
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/template-native.js"></script>
	<script type="text/javascript" src="js/jquery.elevateZoom-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/detaile.js"></script>
    <script type="text/javascript" src="js/aa.js"></script>
    <script type="text/javascript">
     $(function(){
     	$(".img1_url").elevateZoom();
     });
         
    </script>>
</html>